<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="columns">
  <div class="column is-2" style="background-color: rgb(75,99,25);">
    <br>
    <div class="field">
      <div class="control">
        <textarea class="textarea" rows="5" style="border-radius:2rem" placeholder="{{textBoxMessage}}"
          [disabled]="doingAlgo" [(ngModel)]=textBoxInput></textarea>
      </div>
    </div>

    <div class="column">
    <div class="buttons">
      <button class="button is-danger is-rounded is-medium" (click)="parseString()" [disabled]="doingAlgo">Render Graph </button>
    </div>
  </div>
  <hr>
  <div class="column">
    <div class="buttons">
      <button class="button is-danger is-rounded " (click)="toggleDragging()"> Dragging <i *ngIf="dragging"
          class="ri-check-double-line">
        </i> </button>
      <button class="button is-danger is-rounded " (click)="togglePanning()"> Panning <i *ngIf="panning"
          class="ri-check-double-line"></i></button>
      <button class="button is-danger is-rounded " (click)="centerGraph()"> Center</button>
      <button class="button is-danger is-rounded " (click)="clearGraph()"> Clear</button>

    </div>
  </div>
  <hr>
  <div class="dropdown is-hoverable" *ngIf="!doingAlgo"  style="padding-left: 1rem;padding-right: 1rem;">
      <div class="dropdown-trigger">
        <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>{{algoType}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a  *ngFor="let option of options" class="dropdown-item" (click)="setAlgoType(option.id)" >
            {{option.value}}
          </a>
        </div>
      </div>
      <hr>
    </div>
    

    <div class="dropdown is-hoverable" style="padding-left: 1rem;padding-right: 1rem;">
      <div class="dropdown-trigger">
        <button class="button is-danger is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>{{curveType}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a *ngFor="let line of interpolationTypes" class="dropdown-item" (click)="setInterpolationType(line)">
            {{line}}
          </a>
        </div>
      </div>
    </div>

  </div>


  <div class="column is-10" style="background-color: rgb(75,99,25);padding-right: 3rem; padding-top: 2rem; height: 913px;">
    <div class="row" style="height: 4rem;">
      <div class="columns">
        <div class="column is-2" style="padding-top: 0rem; padding-left: 4rem;" >
          <button class="button is-rounded is-medium" [disabled]="!doingAlgo" (click)="renderSegments()">Next
              <i class="ri-play-line ri-2x" style="padding-left:1rem;"></i>
          </button>
          
        </div>
        <div class="column is-10"> <progress class="progress is-danger is-large" [value]="progress" max="100"> progress</progress></div>

      </div>
    </div>


    <!-- card starts -->
    <div class="card" style="border-radius: 3rem; ">
      <!-- graph starts -->
      <ngx-graph class="chart-container" [view]="[1550, 799]" [showMiniMap]="true" [autoCenter]="true"
        [maxZoomLevel]="2" [miniMapMaxHeight]="100" [layout]="layout" [draggingEnabled]="dragging"
        [panningEnabled]="panning" [animate]="animate" [update$]="update$" [minZoomLevel]="0.1" [center$]="center$"
        [links]="links" [nodes]="nodes" [curve]="curve">

        <ng-template #nodeTemplate let-node>
          <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label" *ngIf="nodeSet.has(node.id)">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
            [attr.fill]="node.data.color" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link >
          <svg:g class="edge"
          *ngIf="makeEdgeVisible"
           >
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)" ></svg:path>
            <svg:text class="edge-label" text-anchor="middle" >
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>




      </ngx-graph>
      <!-- graph ends -->

    </div>
    <!-- card ends -->

  </div>
</div>