<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="columns">
  <div class="column is-2" style="background-color: rgb(0, 64, 85);">
    <br>
    <div class="dropdown is-hoverable"  [ngClass]="{'is-active':textBoxMenu}">
      <div class="dropdown-trigger">
        <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
          <span>{{textForDropdown}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item" (click)="selectType(1)">
            Adjacency List
          </a>
          <a class="dropdown-item" (click)="selectType(2)">
            Edge List
          </a>
          <a class="dropdown-item" (click)="selectType(4)">
            Weighted Edge List
          </a>
        </div>
      </div>
    </div>
    <hr>

    <div class="field" >
      <div class="control">
        <textarea class="textarea" rows="12" style="border-radius: 2rem;" placeholder="{{textBoxMessage}}"
          [disabled]="inputFormat==0" [(ngModel)]=textBoxInput></textarea>
      </div>
    </div>
    <div class="column">
      <div class="buttons">
        <button class="button is-info is-rounded is-medium" (click)="parseString()" [disabled]="inputFormat==0">Parse
          Input </button>
        <button class="button is-info is-rounded" (click)="clearGraph()">Clear Graph</button>
        <button class="button is-info is-rounded" (click)="toggleDragging()"> Dragging <i *ngIf="dragging"
            class="ri-check-double-line">
          </i> </button>
        <button class="button is-info is-rounded" (click)="togglePanning()"> Panning <i *ngIf="panning"
            class="ri-check-double-line"></i></button>
        <button class="button is-info is-rounded" (click)="centerGraph()"> Center</button>
        <button class="button is-info is-rounded" [disabled]="startNode==''||endNode==''"
          (click)="isConnected()"> find Path</button>
        <button class="button is-info is-rounded" (click)="toggleIsGraphDirected()">
          {{isDirected?'Directed':'Non-Directed'}}</button>
      </div>
    </div>
    <hr>
    <!-- <div class="dropdown is-hoverable" style="padding-left: 1rem;padding-right: 1rem;">
      <div class="dropdown-trigger">
        <button class="button is-info " aria-haspopup="true" aria-controls="dropdown-menu">
          <span>{{curveType}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a *ngFor="let line of interpolationTypes" class="dropdown-item" (click)="setInterpolationType(line)">
            {{line}}
          </a>
        </div>
      </div>
    </div>
    <hr> -->
    <label class="label" *ngIf="startPathFinding" style="color: white; font-weight: normal;"> Start Node:
      <div class="control" >
        <input class="input" type="text" placeholder=" Write Start Node" [(ngModel)]=startNode>
      </div> </label>
     <br>
     <label class="label" *ngIf="startPathFinding" style="color: white; font-weight: normal;">End Node:
      <div class="control" >
        <input class="input" type="text"  placeholder=" Write End Node" [(ngModel)]=endNode>
      </div></label>
   

  </div>


  <div class="column is-10" style="background-color: rgb(0, 64, 85);padding-right: 3rem; padding-top: 2rem;">
    <div class="row" style="height: 4rem;">
      <progress class="progress is-info is-rounded is-large" value="0"
      max="100"></progress>
    </div>


    <!-- card starts -->
    <div class="card" style="border-radius: 2rem;margin-bottom: 3rem; ">
      <!-- graph starts -->
      <ngx-graph class="chart-container" [view]="[1550, 799]" [showMiniMap]="true" [autoCenter]="true"
        [maxZoomLevel]="2" [miniMapMaxHeight]="100" [layout]="layout" [draggingEnabled]="dragging"
        [panningEnabled]="panning" [animate]="animate" [update$]="update$" [minZoomLevel]="0.5" [center$]="center$"
        [links]="links" [nodes]="nodes" [clusters]="clusters" [curve]="curve">


        <ng-template #nodeTemplate let-node>
          <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label">
            <svg:circle [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
              [attr.cx]=" node.dimension.height/2" [attr.cy]="node.dimension.width/2 " [attr.fill]="node.data.color"
              [attr.r]="20" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle" *ngIf="inputFormat==4">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #defsTemplate *ngIf="isDirected">
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
            [tooltipTitle]="cluster.label">
            <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color" />
          </svg:g>
        </ng-template>


      </ngx-graph>
      <!-- graph ends -->

    </div>
    <!-- card ends -->

  </div>
</div>


<div class="modal is-primary" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">You seem to be a first-time visitor. Let me help</p>
          <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <section class="modal-card-body">
          <p class="subtitle">Paste this in the input box to try app</p>
          <pre><p class="subtitle">
A:[E,F]
D:[G,B]
G:[F,Q]
E:[D,W,Y]
W:[S]
B:[S]
S:[T,U]</p></pre>
          <hr>
          
          <p class="subtitle">Step 1- parse the input graph  </p>
          <p class="subtitle">Step 2- Write the start node and end node to find path between them </p>
          <p class="subtitle">Step 3- Press find Path button  </p>
          <hr>
          <p class="subtitle">Note: You can also use your input graph to see traversal, different types of inputs are supported </p>


      </section>
      <footer class="modal-card-foot">
          <button class="button" (click)="toggleModal()">Cancel</button>
      </footer>
  </div>
</div>