<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="columns">
  <div class="column is-2" style="background-color: rgb(42, 0, 42);">

    <div class="dropdown " [ngClass]="{'is-active':textBoxMenu}">
      <div class="dropdown-trigger">
        <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleDropdown()">
          <span>{{textForDropdown}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a  class="dropdown-item"(click)="selectType(1)" >
            Adjacency List
          </a>
          <a  class="dropdown-item" (click)="selectType(2)">
            Edge List
          </a>
          <a  class="dropdown-item" (click)="selectType(3)">
            Array (Binary Heap)
          </a>
          <a  class="dropdown-item" (click)="selectType(4)">
            Weighted Edge List
          </a>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <textarea class="textarea" rows="8" placeholder="{{textBoxMessage}}" [disabled]="inputFormat==0" [(ngModel)]=textBoxInput></textarea>
      </div>
    </div>
    <div class="buttons">
      <button class="button is-danger"(click)="parseString()" [disabled]="inputFormat==0">Render Graph </button>
      <button class="button is-primary" (click)="clearGraph()">Clear Graph</button>
    </div>
    
    <div class="dropdown is-hoverable" style="padding-left: 1rem;padding-right: 1rem;">
      <div class="dropdown-trigger">
        <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>{{curveType}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a  *ngFor="let line of interpolationTypes" class="dropdown-item" (click)="setInterpolationType(line)" >
            {{line}}
          </a>
        </div>
      </div>
    </div>
    

   
    <div class="dropdown is-hoverable "style="padding-right:-2rem" >
      <div class="dropdown-trigger">
        <button class="button is-danger" aria-haspopup="true" aria-controls="dropdown-menu" >
          <span>{{layout}}</span>
          <span class="icon is-small">
            <i class="ri-arrow-down-s-line"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a  *ngFor="let lay of layouts" class="dropdown-item" (click)="setLayout(lay.value)" >
            {{lay.label}}
          </a>
          
        </div>
      </div>
    </div>
  </div>


  <div class="column is-10" style="background-color: rgb(42, 0, 42);padding-right: 3rem; padding-top: 2rem;">
    <div class="row" style="height: 4rem;">
      <div class="column">
        <div class="buttons">
          <button class="button is-primary" (click)="toggleDragging()"> Dragging <i *ngIf="dragging" class="ri-check-double-line">
            </i> </button>
          <button class="button is-primary" (click)="togglePanning()"> Panning <i *ngIf="panning"
              class="ri-check-double-line"></i></button>
          <button class="button is-primary" (click)="centerGraph()"> Center</button>
          
        </div>
      </div>
    </div>


    <!-- card starts -->
    <div class="card" style="border-radius: 3rem; ">
      <!-- graph starts -->
      <ngx-graph class="chart-container" [view]="[1550, 799]" [showMiniMap]="true" [autoCenter]="true" [maxZoomLevel]="2"
        [miniMapMaxHeight]="100" [layout]="layout" [draggingEnabled]="dragging" [panningEnabled]="panning" [animate]="animate"
        [center$]="center$"  [links]="links" [nodes]="nodes" [clusters]="clusters" [curve]="curve" [clusters]="clusters">


        <ng-template #nodeTemplate let-node>
          <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" fill="pink" />
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
              {{node.label}}
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g
            class="node cluster"
            ngx-tooltip
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            [tooltipTitle]="cluster.label"
          >
            <svg:rect
              rx="5"
              ry="5"
              [attr.width]="cluster.dimension.width"
              [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color"
            />
          </svg:g>
        </ng-template>


      </ngx-graph>
      <!-- graph ends -->

    </div>
    <!-- card ends -->

  </div>
</div>